# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\java 4\Tiepnmph25816_Java4_Assigment\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
